# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Data
# ==========================
data/checkpoints/
data/training/

# keep ticker universe
!data/tickers.csv

# ==========================
# Models
# ==========================
models/
*.pkl
*.joblib
*.cbm

# ==========================
# Databases
# ==========================
*.db

# ==========================
# Reports
# ==========================
results/
reports/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary
# ==========================
*.tmp
*.bak
